/* ============================    ESTILOS GENERALES   ========================== */

/* Estilos base */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

h1 {
  color: rgb(3, 3, 3);
  font-weight: 400; /* Reducimos el grosor de la letra */
}

h3 {
  font-size: 44px;
  line-height: 120%;
}

h5 {
  margin: 0;
}

/* ======    Tamano de letra responsiva   ====== */

@media screen and (min-width: 768px) and (max-width: 1440px) {
  p {
    font-size: 15px !important;
    line-height: 200% !important;
  }
}

/* Mediana: 768px a 375px */
@media screen and (min-width: 375px) and (max-width: 767px) {
  p {
    font-size: 16px !important;
    line-height: 120% !important;
  }
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* Chica: menor a 375px */
@media screen and (max-width: 374px) {
  p {
    font-size: 14px !important;
    line-height: 100% !important;
  }
}

/* ======    Tamano de letra responsiva   ====== */
/* ======    Márgenes laterales responsivos   ====== */

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    margin-left: 112px !important;
    margin-right: 112px !important;
    /* width: calc(100% - 224px) !important;  */
  }
  .containerLarge {
    margin: 56px;
    /* width: calc(100% - 112px) !important; */
    padding: 56px;
  }

  .navbarContainerLarge {
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
  .containerLarge {
    margin: 20px;
    padding: 20px;
  }

  .navbarContainerLarge {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .containerLarge {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .navbarContainerLarge {
    margin-left: 8px;
    margin-right: 8px;
  }
}

/* ======    Márgenes laterales responsivos   ====== */

.navbarContainerLarge {
  position: relative;
}

/* ============================    ESTILOS GENERALES   ========================== */

/* ============================         NAVBAR         ========================== */

/* Estilos para el AppBar */
.custom-app-bar {
  width: 100%;
  max-width: 440px;
  height: 62px;
}

/* .navbarContainerLarge::before {
  content: "";
  width: 7%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/logoseba.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
} */

/* Estilos para el contenedor de botones */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Estilos para los botones */
.custom-button {
  text-transform: none !important;
  border-radius: 9999px !important;
  padding: 2px 16px !important;
  height: calc(100% - 12px) !important;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
}

.custom-button:hover {
  background-color: #fca311 !important;
  color: rgb(0, 0, 0) !important;
}

/* Estilos para el contenedor principal */
.main-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 1); Cambiamos a opacidad 1 por defecto */
  transition: background-color 0.3s ease; /* Agregamos una transición suave */
}

.main-container.scrolled {
  background-color: rgba(255, 255, 255, 0.322); /* Clase para cuando se ha hecho scroll */
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  .custom-app-bar {
    max-width: 100%;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .button-container {
    display: none;
  }

  .menu-icon {
    display: block !important;
  }
}

/* Estilos responsivos para el Navbar */
@media screen and (max-width: 450px) {
  .custom-app-bar {
    width: 56px !important;
    height: 56px !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-toolbar {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Ajuste del tamaño y posición del botón hamburguesa */
  .menu-icon-button {
    padding: 8px !important;
    margin: 0 !important;
    margin-left: 30px !important; /* Margen izquierdo adicional de 30 píxeles */
  }

  /* Eliminar el margen derecho del botón hamburguesa en modo responsivo */
  .MuiIconButton-edgeStart {
    margin-right: 0 !important;
  }
}

/* Estilo para ocultar el icono de menú en pantallas grandes */
.menu-icon {
  display: none;
}

/* Clase para el botón hamburguesa */
.menu-icon-button {
  color: white !important;
}

/* Ocultar el botón hamburguesa en pantallas más grandes que 601px */
@media (min-width: 601px) {
  .menu-icon-button {
    display: none !important;
  }
}
.sticky{
  position: fixed;
  top: 0;
  z-index: 1;
}
/* ============================       NAVBAR      ========================== */

/* ============================   Section HERO1   ========================== */

.containerLarge {
  background-color: #fca211c7;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .h1Title {
    min-height: 15rem;
  }
}

/* Estilos para el título principal */
.titulo-principal {
  margin-top: 4rem;
  font-size: 7vw; /* Tamaño de fuente responsivo */
  line-height: 1;
  word-wrap: break-word; /* Permite que las palabras se rompan si es necesario */
  overflow-wrap: break-word; /* Asegura que el texto no se desborde */
  max-width: 100%; /* Asegura que el texto no sea más ancho que su contenedor */
}

/* Ajustes responsivos para el título principal */
@media screen and (max-width: 768px) {
  .titulo-principal {
    font-size: 8vw;
  }
}
@media screen and (max-width: 480px) {
  .titulo-principal {
    font-size: 8.5vw;
  }
}

.changing-text {
  font-weight: 200;
}
/* ============================   Section HERO1 ========================== */

/* ============================   Section HERO2 ========================== */

.section2 {
  width: 100%;
  max-width: 1216px; /* 1440px - (112px * 2) */
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 350px);
  grid-template-areas: "container2-1 container2-2";
  gap: 16px;
}

.container2-1 {
  grid-area: container2-1;
  min-width: 0;
}

.container2-1 h5 {
  margin-bottom: calc(1rem - 6px);
}

.container2-1 p {
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 16px; /* Tamaño base */
}

.heroParagraph {
  font-size: 20px;
  line-height: 140%;
}

.container2-2 {
  /* background-color: rgb(166, 197, 26); */
  grid-area: container2-2;
  text-align: end;
  min-width: 0;
}

.container2-2 p {
  word-break: break-word;
  overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .section2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "container2-2"
      "container2-1";
  }

  .container2-2 {
    text-align: start;
  }

  .container2-1 p,
  .container2-2 p {
    font-size: 14px;
    line-height: 24px;
  }
}

.container2-1 h5 {
  font-size: 24px;
  line-height: 130%;
}

.container2-1 a {
  color: black;
  text-decoration: underline;
  transition: font-weight 0.3s ease;
  font-size: 20px;
  line-height: 140%;
}

.container2-1 a:hover {
  font-weight: bold;
}

.container2-2 p {
  font-size: 20px;
  line-height: 140%;
}

/* Ajustes responsivos para el texto en container2-2 */
@media screen and (max-width: 1024px) {
  .container2-2 p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .container2-2 p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .container2-2 p {
    font-size: 14px;
  }
}

/* ============================   Section HERO2 ========================== */

/* ============================   Section ENCABEZADO PROJECTS ========================== */

.section3 {
  margin-top: 80px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container3-1 {
  max-width: 15rem;
}

.container3-4 {
  max-width: 10rem;
  display: flex;
  align-items: flex-end;
  display: none;
}

.container3-4 p {
  margin: 0;
}

.container3-3 p {
  line-height: 140%;
}

.column-footer-s4 p {
  line-height: 140%;
}

/* ============================   Section ENCABEZADO PROJECTS ========================== */

/* ============================   Section PROJECTS ========================== */

.sectionProjects {
  margin-top: 2.5rem;
  margin-bottom: 105px;
}
.column-container-s4 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* 32px */
  justify-content: space-between;
}

@media (max-width: 480px) {
  .sectionProjects .column-container-s4 {
    justify-content: space-around;
  }

  .sectionProjects .column-s4 {
    width: 100%;
    max-width: 400px;
  }
}

.projectsFlexItems h4 {
  font-size: 22px;
  line-height: 130%;
  min-height: 51px;
  margin-bottom: 0;
}

.column-s4 {
  /* width: calc(50% - 1rem); */
  margin-bottom: 45px;
}

.column-content-s4 {
  max-height: 27rem; /* (1629-1129)/16 */
  /* background-color: rgb(86, 235, 86); */

  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden; /* Añadimos esto para contener la imagen al crecer */
  /* flex-shrink: 1.5; */
}

@media (min-width: 1025px) {
  .column-s4 {
    max-width: 31rem; /* (500)/16 */
  }
}

.more-projects-link {
  font-size: 20px;
  line-height: 140%;
  margin: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.imageProject {
  height: 26rem;
}

.project-link {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.project-link:hover {
  transform: scale(1.07);
  display: inline-block;
}

.project-container:hover {
  transform: scale(1.07);
}

.project-container {
  transition: transform 0.3s ease-in-out;
}
/* ============================    Section PROJECTS     ========================== */

/* ============================    Section EXPERTISE    ========================== */

.section5 {
  background-color: black;
  color: white;
  padding: 56px;
}

.expertise-title {
  font-size: 64px;
  line-height: 110%;
}

.section5 .titleH3 h3 {
  color: white;
}

.ecpertiseFlexContainer {
  width: 100%;
  display: flex;
  row-gap: 40px;
  column-gap: 2rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.expertiseFlexItems {
  width: 46%;
  max-width: 442px;
  height: fit-content;
}

.expertiseFlexItems h4 {
  color: white;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 30px;
}
/* .dot {
  background-color: white;
} */

.expertiseFlexItems p {
  font-size: 20px;
  line-height: 140%;
}

@media (max-width: 480px) {
  .ecpertiseFlexContainer {
    justify-content: space-around;
  }

  .expertiseFlexItems {
    width: 100%;
    max-width: 400px;
  }
}

/* ============================    Section EXPERTISE    ========================== */

/* ============================    Section SLIDER    ========================== */
.section-slider {
  width: 100vw;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

.slider-container {
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

.slider-icons {
  display: flex;
  animation: slide 20s linear infinite;
  width: 200%;
}

.slider-icon {
  margin: 12px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 2rem;
}

.icon-name {
  margin-top: 9px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Para hacer que el desplazamiento sea más suave */
.slider-icons:hover {
  animation-play-state: paused;
}

/* ============================    Section SLIDER    ========================== */

/* ============================    Section TESTIMONIALS    ========================== */
.section-testimonials {
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.section-testimonials h3 {
  margin-bottom: 1.5rem;
  font-size: 64px;
  line-height: 110%;
}

.testimonialsFlexContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.testimonialsFlexItems.testimonial-content {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 60%;
  font-size: 2rem;
  line-height: 130%;
}

.testimonialsFlexItems.testimonial-info {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.autor {
  margin-top: auto;
}

.section-testimonials h3 {
  font-size: 64px;
  line-height: 110%;
}

.testimonial-content {
  font-size: 48px;
  line-height: 130%;
}

.autor h6 {
  margin-bottom: 0.5rem;
}

.autor p {
  margin: 0;
}
/* ============================    Section TESTIMONIALS    ========================== */
/* ============================    Section LET'S TALK    ========================== */
.section-lets-talk {
  margin-top: 126px;
  margin-bottom: 10rem;
}

.lets-talk-flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lets-talk-flexItem {
  text-align: center;
}

.lets-talk-flexItem h2 {
  font-size: 140px;
  margin: 0;
  line-height: 1;
}

.email-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  margin-top: 5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.email-button:hover {
  transition: "color 0.3s ease";
}
.lets-talk-flexItem h2 {
  font-size: 140px;
  margin: 0;
  line-height: 1;
}
/* ============================    Section LET'S TALK    ========================== */

/* ============================    SLIDER    ========================== */
.slider-container {
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

.slider-icons {
  display: flex;
  animation: slide 20s linear infinite;
  width: 100%;
}

.slider-icon {
  margin: 18px 50px;
}

.icon {
  font-size: 2rem;
}

.iconName {
  margin-top: 9px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.flexContainerIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* ==================        footer     ================================== */
.footer {
  background-color: #ff8c00 !important;
  color: black !important;
  padding: 20px 0 !important;
  display: block !important; /* Asegura que el footer se muestre */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: black;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: white;
}

/* ============================    SLIDER    ========================== */
/* ============================   Flexbox ========================== */

/* Un resumen :  
  1) Neceitamos un contenedor FLEXBOX-CONTAINER que envuelva un conjunto de FLEXBOX-ITEMS
  2) Usamos las propiedades Justify-content y Align-items apra alinear esos Items dentro del Container
  3) Usamos flex-shrink , flex-grow y flex-basis para ajustar mis items individualmente

*/

/* ============================   Flexbox ========================== */

.flexbox-container {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  background-color: antiquewhite;
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid grey;
  background-color: aquamarine;
}

.flexbox-item1 {
  min-height: 100px;
}
.flexbox-item2 {
  min-height: 200px;
}
.flexbox-item3 {
  min-height: 300px;
}

/* ============================   Flexbox 2 ========================== */

.flexbox-container2 {
  display: flex;
  justify-content: center;

  background-color: cadetblue;
}

.flexbox-item4 {
  min-height: 200px;
}
.flexbox-item5 {
  min-height: 200px;
  flex-shrink: 2;
}
.flexbox-item6 {
  min-height: 200px;
  flex-grow: 1;
}

/* ============================   Flexbox 3 ========================== */

.flexbox-container3 {
  height: 300px;
  display: flex;
  justify-content: center;

  background-color: rgb(168, 166, 32);
}

.flexbox-item {
  margin: 10px;
  border: 3px solid grey;
  background-color: aquamarine;
}

.flexbox-item7 {
  min-height: 200px;
  flex-shrink: 2;
  align-self: flex-end;
  aspect-ratio: 1 / 1;
}
.flexbox-item8 {
  min-height: 200px;
  align-self: center;
  flex-basis: 1;
  aspect-ratio: 4 / 3;
}
.flexbox-item9 {
  min-height: 200px;
  flex-grow: 1;
}

/*=====================      sticky position      ==================== */

.letter{
  position: sticky;
  top: 0;
  background-color: #ff8c00;
  height: 20px;
}

/*=====================      sticky position      ==================== */
/*=====================      efecto paralex      ==================== */


.wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background{
  transform: translate(-10px) scale(2)
}

.foreground{
  transform: translate(-5px) scale(1.5)

}
.background , .foreground{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
} 

/*=====================      efecto paralex      ==================== */
